{% extends 'base.html.twig' %}

{% block title %}Merge{% endblock %}

{% block body %}
    <h1>Merge</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ merge.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ merge.date ? merge.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('merge_index') }}">back to list</a>

    <a href="{{ path('merge_edit', {'id': merge.id}) }}">edit</a>

    {{ include('merge/_delete_form.html.twig') }}
{% endblock %}