{% extends 'base.html.twig' %}

{% block title %}TeamUser index{% endblock %}

{% block body %}
    <h1>TeamUser index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date_create</th>
                <th>Date_end</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for team_user in team_users %}
            <tr>
                <td>{{ team_user.id }}</td>
                <td>{{ team_user.dateCreate ? team_user.dateCreate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ team_user.dateEnd ? team_user.dateEnd|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('team_user_show', {'id': team_user.id}) }}">show</a>
                    <a href="{{ path('team_user_edit', {'id': team_user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('team_user_new') }}">Create new</a>
{% endblock %}