{% extends 'base.html.twig' %}

{% block title %}TeamUser{% endblock %}

{% block body %}
    <h1>TeamUser</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ team_user.id }}</td>
            </tr>
            <tr>
                <th>Date_create</th>
                <td>{{ team_user.dateCreate ? team_user.dateCreate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date_end</th>
                <td>{{ team_user.dateEnd ? team_user.dateEnd|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('team_user_index') }}">back to list</a>

    <a href="{{ path('team_user_edit', {'id': team_user.id}) }}">edit</a>

    {{ include('team_user/_delete_form.html.twig') }}
{% endblock %}